.title {
    -fx-font-size: 72pt;
}
.button {
    -fx-font-size: 12pt;
}
.A {
    -fx-fill: red;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.B {
    -fx-fill: blue;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.C {
    -fx-fill: green;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.D {
    -fx-fill: yellow;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}