.title {
    -fx-font-size: 72pt;
}
.subtitle {
    -fx-font-size: 36pt;
}
.button {
    -fx-font-size: 12pt;
}
.settingsThemeText {
    -fx-fill: white;
    -fx-font-size: 14pt;
}
.deck {
    -fx-background-color: white;
    -fx-background-image: url('images/duke_card.png');
    -fx-background-position: center;
    -fx-background-size: 150px;
}
.myTurn {
    -fx-fill: green;
}
.AText {
    -fx-fill: white;
    -fx-font-size: 20pt;
}
.BText {
    -fx-fill: white;
    -fx-font-size: 20pt;
}
.CText {
    -fx-fill: white;
    -fx-font-size: 20pt;
}
.DText {
    -fx-fill: white;
    -fx-font-size: 20pt;
}
.A {
    -fx-fill: blue;
}
.B {
    -fx-fill: teal;
}
.C {
    -fx-fill: aqua;
}
.D {
    -fx-fill: darkblue;
}
.themeOptionSelected {
    -fx-stroke: aqua;
    -fx-stroke-width: 10pt;
}