.title {
    -fx-font-size: 72pt;
}
.subtitle {
    -fx-font-size: 36pt;
}
.button {
    -fx-font-size: 12pt;
}
.settingsThemeText {
    -fx-fill: white;
    -fx-font-size: 14pt;
}
.deck {
    -fx-background-color: black;
    -fx-background-image: url('images/space_card.jpg');
    -fx-background-position: center;
    -fx-background-size: 150px;
}
.myTurn {
    -fx-fill: green;
}
.AText {
    -fx-fill: white;
    -fx-font-size: 20pt;
}
.BText {
    -fx-fill: white;
    -fx-font-size: 20pt;
}
.CText {
    -fx-fill: white;
    -fx-font-size: 20pt;
}
.DText {
    -fx-fill: black;
    -fx-font-size: 20pt;
}
.A {
    -fx-fill: purple;
}
.B {
    -fx-fill: darkblue;
}
.C {
    -fx-fill: violet;
}
.D {
    -fx-fill: pink;
}
.themeOptionSelected {
    -fx-stroke: aqua;
    -fx-stroke-width: 10pt;
}